*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid 2px rgb(128, 126, 126);  */
}


:root{
    --bg-chat:#E0D9D1;
    --bg-active:#8EDAFC;
    --bg-hover:#E9EBEB;
    --bg-chat-user:#D5F9BA;
    --bg-footer-chat:#F3EEEA;
    --bg-color-write:#B1B2B5;
}

ul,li {
    list-style: none;
    gap: 10px;
}

a {
    color: currentColor;
    text-decoration: none;
}

.back__color{
    background:linear-gradient(#009688 10%, #d3dbda 0%);
    height: 100vh;
    margin:0 auto;
    padding: 30px 70px 0px 70px;
    
}

.screen__container{
    /* min-height: 80%; */
    min-width: 80%;
    display: flex;
    flex-direction: row;
    background-color:white;
}

.user__wrapper{
    height: 500px;
    flex-basis: 40%;
}

.nav__card{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    gap: 10px;
}

.message__wrapper{
    height: 500px;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
}

.user__card{
    width: 100%;
    max-height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    border-right: 1px solid var(--bg-hover) ;

}

.nav__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
}

.chat__display{
    flex-grow: 1;
    background-image: url(../assets/mine.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 40px 60px;
    gap:10px
}
.message{
    border-radius: 8px;
    font-size: 12px;
    /* display: flex;
    flex-direction: column; */
}

.message.sent{
    align-self: flex-end;
    background-color: var(--bg-chat-user);
    height: 40px;
    width: 90px;
}

.message.received{
    align-self: flex-start;
    background-color: white;
    height: 40px;
    width: 90px;
}

.menu>ul{
    display: flex;
    align-self: center;
}

.menu>i{
    height: 30px;
}

.contact{
    padding: 8px 5px 8px 12px;
    border-top: 1 px solid var(--bg-chat);
}

.img__text{
    display: flex;
    align-items: center;

}

.img__text>i{
    align-self: center;
}

img{
    height: 30px;
    border-radius: 50%;
    max-width: 100%;
}

span{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.time{
    font-size: 10px;
    color: var(--bg-color-write);
    margin-left: auto;
    align-self:flex-start;
}

.img__text>.fa-bell-slash,.fa-magnifying-glass{
    height: 30px;
    border-radius: 50%;
}

H2{
    font-size: 12px;
} 

.user__card a{
    font-size: 12px;
}

.user__card.active{
    background-color: var(--bg-active);
}

.fa-bell-slash{
    height: 30px;
    border-radius: 50%;
}

.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.player{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    height: 9%;
    background-color: var(--bg-footer-chat);
}

.write{
    flex-grow: 1;
    justify-items: center;
}

.write input{
    border-radius: 5px;
    color: #E9EBEB;
    align-self: center;
    width: 100%;
    min-height: 30px;
}

.player__img{
    flex-basis: 20%;
    min-height: 30px;
}

.message{
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px;
}

