<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/2187b82d38.js" crossorigin="anonymous"></script>
    <title>Vue-Boolzapp</title>
</head>

<body class="back__color">
    <div class="screen__container" id="root">
        <aside class="user__wrapper">
            <div class="user__card nav__card">
                <div class="img__text">
                    <span class="avatar"><img src="./assets/avatar_io.jpg" alt=""></span>
                    <h2>Sofia</h2>
                </div>
                <div class="menu">
                    <ul class="button">
                        <li><i class="fa-solid fa-circle-notch"></i></li>
                        <li><i class="fa-solid fa-message"></i></li>
                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                    </ul>
                </div>
            </div>
            <div class="user__card active">
                <div class="img__text">
                    <span class="avatar"><i class="fa-solid fa-bell-slash"></i></span>
                    <div class="note">
                        <h2>ricevi notifiche di nuovi messaggi</h2>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
            </div>
            <div class="user__card">
                <div class="img__text">
                    <span class="avatar"><i class="fa-solid fa-magnifying-glass"></i></span>
                    <input class="search__user" type="text" placeholder="Cerca o inizia una nuova chat">
                </div>
            </div>
            <ul class="contact">
                <li class="user__card" @click="active=index" v-for="contact,index in contacts"
                    :class="active===index ? 'active':''">
                    <div class="img__text">
                        <span class="avatar"><img :src="`./assets/${contact.avatar}`" alt=""></span>
                        <div>
                            <h2>{{contact.name}}</h2>
                            <p>Ultimo accesso...</p>
                        </div>
                    </div>
                    <div class="time">12:00</div>
                </li>
                <!-- <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_2.jpg" alt=""></span>
                            <h2>Fabio</h2>
                            <p>Ultimo accesso</p>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li>
                <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_3.jpg" alt=""></span>
                            <h2>Samuele</h2>
                            <p>Ultimo accesso</p>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li>
                <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_4.jpg" alt=""></span>
                            <h2>Alessandro B.</h2>
                            <p>Ultimo accesso</p>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li>
                <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_5.jpg" alt=""></span>
                            <h2>Alessandro L.</h2>
                            <p>Ultimo accesso</p>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li>
                <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_6.jpg" alt=""></span>
                            <h2>Claudia</h2>
                            <p>Ultimo accesso</p>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li>
                <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_7.jpg" alt=""></span>
                            <h2>Federico</h2>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li>
                <li>
                    <div class="user__card">
                        <div class="img__text">
                            <span class="avatar"><img src="./assets/avatar_8.jpg" alt=""></span>
                            <h2>Davide</h2>
                            <p>Ultimo accesso</p>
                        </div>
                        <div class="time">12:00</div>
                    </div>
                </li> -->
            </ul>
        </aside>
        <main class="message__wrapper">
            <div class="user__card nav__card">
                <div v-for="contact,index in contacts" class="img__text">
                    <div class="online__contact">
                        <span class="avatar"><img v-if="index===active" :src="`./assets/${contact.avatar}`"></span>
                        <div class="user__online">
                            <h2 v-if="index===active" class="talker">{{contact.name}}</h2>
                            <p>Ultimo accesso...</p>
                        </div>
                    </div>
                </div>
                <div class="menu">
                    <ul class="button">
                        <li><i class="fa-solid fa-magnifying-glass"></i></li>
                        <li><i class="fa-solid fa-paperclip"></i></li>
                        <li><i class="fa-solid fa-ellipsis-vertical"></i></li>
                    </ul>
                </div>
            </div>
            <div class="chat__display">
                <div v-for="contact,index in contacts[active].messages " class="message">
                    <div :class="contact.status === 'sent'?'sent':'received'">{{contact.message}}</div>
                </div>
                <div class="message sent">

                </div>
                <div class="message sent">
                
                </div>
                <div class="message received"> 
            
                </div>
            </div>
            <div class="user__card player">
                <div class="img__text player__img">
                    <span class="avatar"><i class="fa-solid fa-face-smile"></i></span>
                </div>
                <div class="write">
                    <input type="text" @keyup.enter="send" v-model="text" placeholder="Scrivi un messaggio" value="">
                </div>
                <div class="img__text player__img">
                    <span class="avatar"><i class="fa-solid fa-microphone"></i></span>
                </div>
            </div>
        </main>

    </div>
    <script src="./JS/app.js"></script>
</body>

</html>